<div class="container">
	<% if flash[:notice] %>
  		<p><%= flash[:notice] %></p>
	<% end %>
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-6">
			<h1>
				welcome to<span class="glyphicon glyphicon-book"></span><strong>Bookers !!</strong>
			</h1>
			<p>In <%= fa_icon 'book' %><strong>Bookers,</strong><br>
				you can share and exchange your opinions , inpressions , and emotions<br>
				about varioius books!
			</p>

			<%= link_to 'Log in', new_user_session_path, class: "btn btn-info col-md-10 col-md-offset-1" %>
			<%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success col-md-10 col-md-offset-1" %>
			<% if user_signed_in? %>
				<a data-method="delete" href ="/users/sign_out">Log out</a>
			<% end %>
		</div>
	</div>
</div>
